@charset "UTF-8";

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    font-style: normal;
}

header {
    border: 2px groove black;
    margin: auto;
    padding: 2px 2px 20px 40px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.486);
}

header > a {
    background-color: black;
    color: white;
    height: 22px;
}

a {
    margin: 0px;
    padding: 0px;
    font-size: 2em;

}

main {
    background-color: rgb(150, 148, 148);
    box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.548);
    margin: 10px 2px 2px 2px;
}

nav > p {
    margin: 10px 2px 2px 20px;
    padding: 2px 2px 20px 20px;
}

nav > h1 {
    margin: 2px 2px 2px 20px;
    padding: 10px 2px 2px 2px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

